@media (min-width: 768px) {
  nav {
    display: flex !important;
    flex-direction: row;
    gap: 1.2rem;
    justify-content: end;
    font-size: 1.3rem;
  }

  nav a:hover {
    font-weight: 600;
    color: gold;
    text-decoration: underline;
  }

  header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
  }
  main {
    font-size: 1.5rem;
  }
  
  main h2 {
    text-align: center;
   }
   .view-buttons button {
    align-items: center;
    background-color: black;
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
   }

  #menu-btn {
    display: none;
  }

  #directory-container.grid-view {
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
  }

  #directory-container.list-view {
    display: block;
  }

  .member-card {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
  }

  .member-card img {
    width: 120px;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    line-height: 30px;
  }
  .footer-info {
    text-align: left;
    margin-left: 20%;
  }
  .footer-dev {
    text-align: left;
    margin-left: 20%;
  }

/* The Css for main on home page, on big screen */
  .home-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
  }
  .card {
    background: #e6e6e6;
    border-radius: 6px;
    overflow: hidden;
  }
  .card h2 {
    background: #0A3D2E;
    color: #fff;
    margin: 0;
    padding: 0.5rem;
    font-size: 1.3rem;
    text-align: center;

  }
  .card-content {
    padding: 0.75rem;
    font-size: 0.9rem;
  }
  #spotlight-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-align: right;
  }

  .join-container {
    grid-template-columns: 2fr 1fr;
}
  
}
