:root {
  --primary-dark: #0A3D2E;
  --primary-accent: #4CAF50;
  --bg-light: #F4F7F5;
  --text-dark: #1A1A1A;
  --text-light: #ffffff;
  --border-light: #DADADA;
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg-light);
  color: var(--text-dark);
}

/* HEADER */
header {
  background: var(--primary-dark);
  color: var(--text-light);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-btn {
  background: none;
  border: none;
  color: var(--text-light);
  font-size: 1.6rem;
  cursor: pointer;
}

nav {
  display: none;
  flex-direction: column;
  gap: .5rem;
}

nav a {
  color: var(--text-light);
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
  border: solid 2px #C0C0C0;
  padding: 7px;
  border-radius: 13px;
}

nav a:hover {
    font-weight: 600;
    color: gold;
    text-decoration: underline;
  }

/* reveal nav mobile */
#main-nav.open {
  display: flex;
}

/* MAIN */
main {
  padding: 1rem;
}

.view-buttons {
  margin: 1rem 0;
  display: flex;
  gap: .5rem;
}

.view-buttons button {
  padding: .5rem 1rem;
  border: none;
  background: var(--primary-accent);
  color: var(--text-light);
  cursor: pointer;
  border-radius: 4px;
}

/* DIRECTORY CARDS */
#directory-container {
  display: grid;
  gap: 1rem;
}

#directory-container.grid-view {
  grid-template-columns: 1fr;
}

.member-card {
  border: 1px solid var(--border-light);
  padding: 1rem;
  background: white;
  border-radius: 4px;
}

.member-card img {
  width: 100%;
  height: auto;
  margin-bottom: .5rem;
}

.badge {
  display: inline-block;
  padding: .2rem .5rem;
  border-radius: 4px;
  font-size: .8rem;
  margin-bottom: .5rem;
  color: white;
}

.badge.gold { background: #B8860B; }
.badge.silver { background: #C0C0C0; color: black; }
.badge.member { background: var(--primary-accent); }

footer {
  margin-top: 2rem;
  background: var(--primary-dark);
  color: var(--text-light);
  padding: 1rem;
  text-align: center;
}

.footerh2 {
  font-size: 1.3rem;
  font-weight: 200;
}
/* CSS for the main element which include the weather sections and the member cards */

/* ===== MAIN (Mobile-first) ===== */

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}


/* ===== HERO ===== */
.hero {
  position: relative;
  width: 100%;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}

.hero .cta {
  position: absolute;
  bottom: 1rem;
  right: 40%;
  left: 40%;
  background-color: green;
  color: #fff;
  padding: 1rem .7rem;
  border-radius: 20px;
  font-size: 1.1rem;
  text-decoration: none;
  text-align: center;
}

/* ===== EVENTS ===== */
.card-events {
  background: #e5e5e5;
  border-radius: 6px;
}

.card-events h2 {
  background: #0A3D2E;
  color: #fff;
  margin: 0;
  padding: 0.5rem;
  font-size: 1.3rem;
  border-top-left-radius: 6px ;
  border-top-right-radius: 6px ;

}

.card-events p {
  padding: 0.75rem;
  margin: 0;
  font-size: 1.1rem;
}

/* ===== WEATHER ===== */
.card-weather {
  background: #e5e5e5;
  border-radius: 6px;
}

.card-weather h2 {
  background: #0A3D2E;
  color: #fff;
  margin: 0;
  padding: 0.5rem;
  font-size: 1.3rem;
  border-top-left-radius: 6px ;
  border-top-right-radius: 6px ;
}

#current-weather {
  padding: 0.75rem;
  font-size: 0.9rem;
}

#current-weather p {
  margin: 0.2rem 0;
  font-size: 1.1rem;
}

#forecast {
  padding: 0.75rem;
  font-size: 0.9rem;
}
#forecast-section h2 {
  font-size: 1.3rem;
  border-top-left-radius: 6px ;
  border-top-right-radius: 6px ;
}

#forecast p {
  margin: 0.3rem 0;
  font-size: 1.1rem;
}

/* ===== SPOTLIGHTS ===== */


.spotlight {
  background: #e5e5e5;
  border-radius: 6px;
  padding: 0.75rem;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 0.75rem;
  align-items: center;
}

.spotlight img {
  width: 80px;
  height: auto;
  border-radius: 4px;
}

.spotlight h3 {
  grid-column: 1 / -1;
  margin: 0;
  font-size: 1rem;
}

.spotlight p,
.spotlight a {
  font-size: 0.85rem;
  margin: 0.2rem 0;
}

.spotlight a {
  color: var(--primary);
  text-decoration: none;
}
#spotlight-cards {
  grid-template-columns: 1fr;
}



#forecast-section {
  background-color:#e6e6e6 ;
  border-radius: 6px;
}
#forecast-section h2 {
  background-color: #0A3D2E;
  color: #fff;
  margin: 0;
  padding: 0.5rem;
  font-size: 1rem;
}

.spotlights {
  flex-direction: column;
  margin-top: 1rem;
}

#spotlight-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  text-align: right;
}

.spotlight img {
  margin: 0 auto;
}

.business-card {
  background: #e6e6e6;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

.business-card img {
  width: 10rem;
  height: auto;
  margin: 0.5rem auto;
}

.business-card h3 {
  margin: 0.25rem 0;
  font-size: 1.3rem;
}

.business-card p {
  margin: 0.2rem 0;
  font-size: 0.85rem;
  font-size: 1.1rem;
}

.business-card a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}

p.label {
  background-color: #000;
  color: #fff;
  padding: 5px;
  width: 200px;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
}

/* Join Page Styling*/

:root {
  --primary: #1f4d3a;
  --secondary: #f5f5f5;
  --accent: #d4af37;
}

.join-container {
  display: grid;
  gap: 1.7rem;
}

form {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: large;
}

input, select, textarea {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.4rem;
  font-size: large;
}

textarea {
  resize: vertical;
  min-height: 120px;
  font-size: large;
}

input[type="submit"] {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  font-size: large;
  font-weight: 700;
  border-radius: 8px;
}
input[type="submit"]:hover {
  background-color: #d4af37;
}

.memberships {
  display: grid;
  gap: 1rem;
  animation: fadeIn 1.5s ease-in-out;
}

.card {
  background: white;
  padding: 1rem;
  border-left: 6px solid var(--accent);
  border-radius: 8px;
  line-height: 1.6;
}

.card a {
  color: var(--primary);
  font-weight: bold;
}

dialog {
  border: none;
  border-radius: 8px;
  padding: 1.5rem;
}

dialog::backdrop {
  background: rgba(0,0,0,0.5);
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.thankh1 {
  text-align: center;
}.thankyou {
  display: block;
  height: 100px;
}

.info {
  text-align: center;
  line-height: 1.6;
}

.appreciate {
  text-align: center;
}

/* styles of the discover page */

.visitor-msg {
  background-color: #d4efdf;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  text-align: center;
}

/* Grid Container holding the cards */
.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6"
      "card7"
      "card8";
}

.card:nth-child(1) { 
  grid-area: card1; 
}
.card:nth-child(2) { 
  grid-area: card2; 
}
.card:nth-child(3) { 
  grid-area: card3; 
}
.card:nth-child(4) { 
  grid-area: card4; 
}
.card:nth-child(5) { 
  grid-area: card5; 
}
.card:nth-child(6) { 
  grid-area: card6; 
}
.card:nth-child(7) { 
  grid-area: card7; 
}
.card:nth-child(8) { 
  grid-area: card8; 
}


/* Card Styling */
.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card figure {
  margin: 0;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card:hover img {
  filter: brightness(80%) contrast(1.1);
  transform: scale(1.05);
}

.card h2 {
  margin: 0.5rem 0;
}

.card address {
  font-style: normal;
  color: #555;
  margin-bottom: 0.5rem;
}

.card button {
  margin-top: auto;
  padding: 0.5rem;
  background-color: #1f4d3a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.card button:hover {
  background-color: #16392b;
}

/* this is the style for Medium screens from 641-1024*/
@media (min-width: 641px) and (max-width: 1024px) {
  .grid-container {
      grid-template-areas:
          "card1 card2"
          "card3 card4"
          "card5 card6"
          "card7 card8";
  }

  .card:nth-child(1) { 
    grid-area: card1; 
  }
  .card:nth-child(2) { 
    grid-area: card2; 
  }
  .card:nth-child(3) { 
    grid-area: card3; 
  }
  .card:nth-child(4) { 
    grid-area: card4; 
  }
  .card:nth-child(5) { 
    grid-area: card5; 
  }
  .card:nth-child(6) { 
    grid-area: card6; 
  }
  .card:nth-child(7) { 
    grid-area: card7; 
  }
  .card:nth-child(8) { 
    grid-area: card8; 
  }
  
}

/* on screens Larger than 1025px styles for the cards*/
@media (min-width: 1025px) {
  .grid-container {
      grid-template-areas:
          "card1 card2 card3 card4"
          "card5 card6 card7 card8";
  }

  .card:nth-child(1) { 
    grid-area: card1; 
  }
  .card:nth-child(2) { 
    grid-area: card2; 
  }
  .card:nth-child(3) { 
    grid-area: card3; 
  }
  .card:nth-child(4) { 
    grid-area: card4; 
  }
  .card:nth-child(5) { 
    grid-area: card5; 
  }
  .card:nth-child(6) { 
    grid-area: card6; 
  }
  .card:nth-child(7) { 
    grid-area: card7; 
  }
  .card:nth-child(8) { 
    grid-area: card8; 
  }
  
}




